@use "styles/shared" as *;

.NewsList {
  :global {
    width: auto;
    margin-bottom: 50px;
    .controls {
      margin-top: 60px;
      margin-bottom: 50px;
      flex-basis: 100%;
      .search {
        input {
          width: calc(100% - 32px);
          min-height: 40px;
          border: 1px solid black;
          font-size: 18px;
          padding: 0px 15px;
        }
      }
    }
    .list-item,
    .news-item-loader {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.NewsList__default {
  :global {
    width: auto;
  }
}
