@use "styles/shared" as *;

.Pagination {
  :global {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        margin: 0px 5px;
        border-radius: 2px;
        cursor: pointer;
        a {
          padding: 5px 10px;
          display: block;
        }
        &.selected {
          border-radius: 20px;
          background-color: $dark;
          color: $white;
        }
        @include device(phone){
          margin: 0px 2px;
        }
      }
    }
  }
}

.Pagination__default {
  :global {
  }
}
