@use "styles/shared" as *;

.Card {
  display: flex;
  gap: 20px;
  :global {
    .left {
      flex-basis: 100%;
      max-width: 340px;
      min-height: 200px;
      position: relative;
      overflow: hidden;
      img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .right {
    }
  }
}

.Card__default {
  :global {
  }
}
